* {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 3vw;
    color: white;
}

body {
    background-color: black;
    overflow: hidden;
    position: fixed;
}

.link-holder a:last-of-type {
    margin-right: 0;
}

.link-holder a {
    display: inline-block;
    margin-right: 2vw;
    width: 4vw;
    height: 4vw;
}

.scroll-area {
    background-color: black;
    height: 100vh;
}

.callout {
    text-align: center;
    background: black;
    padding: 1vw 2vw;
    z-index: 999;
}

#main-title {
    width: 100vw;
    height: var(--app-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#name-container {
    position: relative;
    transform-style: preserve-3d;
}

.large-name {
    z-index: 1;;
    position: relative;
    text-align: center;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 800;
    font-size: 15vw;
    width: 55vw;
    line-height: 12vw;
}

.large-name::after {
    text-align: center;
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    text-shadow: 0 0 20px black;
}

@media only screen and (min-aspect-ratio: 6/3) {
    #main-title {
        gap: 4vh;
    }

    .large-name {
        position: relative;
        text-align: center;
        font-family: 'Sarpanch', sans-serif;
        font-weight: 800;
        font-size: 22vh;
        width: 55vw;
        line-height: 20vh;
    }
}

@media only screen and (max-aspect-ratio: 3/5) {
    * {
        font-size: 6vw;
    }
    
    #main-title {
        gap: 5vh;
    }

    .large-name {
        position: relative;
        text-align: center;
        font-family: 'Sarpanch', sans-serif;
        font-weight: 800;
        font-size: 23vw;
        width: 100vw;
        line-height: 21vw;
    }

    .link-holder a {
        width: 10vw;
        height: 10vw;
        margin-right: 4vw;
    } 
}